@page "/product/create"
@inject IProductServices _productServices
@using System
@using System.IO
@using Microsoft.Extensions.Logging

<h3>Create</h3>

<EditForm Model="Product" OnSubmit="SaveChangesAsync">
    <label>Nome</label>
    <div class="input-group mb-3">
        <i class="bi bi-file-lock input-group-text"></i>
        <InputText class="form-control" @bind-Value="Product.Name" />
        <ValidationMessage For="() => Product.Name" />
    </div>

    <label>Imagem</label>
    <div class="input-group mb-3">
        <i class="bi bi-file-lock input-group-text"></i>
        <InputFile class="form-control" multiple OnChange="OnInputFileChange" />
    </div>


</EditForm>